body {
    margin: 0;
    padding: 0;
    z-index: 0;
}

#section-heading h1 {
    text-align: center;
}

.inner-form-container {
    margin-bottom: 0.4rem;
}

/* Mobile Devices */
@media only screen and (max-width: 490px) {
    .form-container {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .exercise-set {
        width: 300px;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem;
        border: solid 1px black;
        border-radius: 10px;
    }

    .clear-data-button-container {
        margin-top: 1rem;
    }
}

/* Tablet and desktop size */
@media only screen and (min-width: 490px) {
    .form-container {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .exercise-set {
        /* TODO    */
    }

    .clear-data-button-container {
        /* TODO    */
    }
}


